body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #831238;
}

.progress-container {
    width: 80%;
    margin: 20px auto;
}

progress {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #ccc;
}

progress::-webkit-progress-value {
    background-color: #831238;
}

.video-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #831238;
    border-radius: 5px;
}

button {
    background-color: #831238;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
